*{
    box-sizing: border-box;
    width: 100%;
    /* margin-left: 0; */
    /* margin-right: 0; */
    margin: 0;
}
body{
    background-color: rgb(212, 188, 155);

}


.wrapper{
    display: flex;
    width: 90%;
}
.content{
    flex: 65%;
    padding: 15px;
    margin: 20px 20px 10px 50px;
}

.content h1{
    margin-left: 10px;
    border-bottom: 2px solid #008080;
}

.content article{
    padding: 20px 10px 10px 10px;
}

.side{
    flex: 35%;
    padding: 15px 0px;
}

#listMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }



  /* top-navbar */

  .top-navbar{
      padding: 14px 16px;
      background-color: #008080;
      width: 100%;

  }

  .top-navbar a{
      padding: 14px 16px;
      margin: 14px 16px;
      text-decoration: none;
      color: black;
      font-weight: bolder;
      /* border: 1p black solid; */
  }

  .top-navbar a:hover{
      background-color: #009090;
      color: white;
      padding: 14px 16px;

  }


#listMenu li{
    list-style-type: none;
    text-decoration: none;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}